<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../vendor/magento/framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="multishipping_checkout_addresses_plugin" type="Echidna\Custompayment\Plugin\Controller\Index\Index"/>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="custompayment_prefill_shipping" type="Echidna\Custompayment\Plugin\Checkout\LayoutProcessor" />
    </type>
</config>
