<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<mypayment>
				<active>1</active>
				<model>Echidna\Custompayment\Model\Payment\Mypayment</model>
				<order_status>pending</order_status>
				<title>mypayment</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</mypayment>
		</payment>
	</default>
</config>
